<!DOCTYPE html>
<html lang="en">
<style>

</style>
<script>
    function closemsg(){
        document.getElementById("msg").innerHTML="";
    }
</script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>

    {% for message in messages %}
    <div id="msg">
        <strong>Message:</strong> {{ message }}
        <button type="button" onclick="closemsg()">
            X
        </button>
    </div>
    {% endfor %}

<div style="background-color: aqua; width: 500px; text-align: center; padding: 20px; margin: auto;">
    <h2>Log In to your account!</h3>
    <form method="post" enctype="multipart/form-data" action="signined" class="mb-2">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username" Required>
        </div>
        <div class="form-group">
            <label for="pass1">Password</label>
            <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter Your Password" Required>
        </div>

        <button type="submit">log in</button>
    </form>
</div>

</body>
</html>